asciimatics==1.11.0
asgiref==3.2.10
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
defusedxml==0.6.0
Django==3.0.8
django-ckeditor==5.9.0
django-js-asset==1.2.2
django-object-actions==2.0.0
future==0.18.2
html5lib==1.1
mysqlclient==2.0.1
Pillow==7.2.0
pycparser==2.20
pyfiglet==0.8.post1
Pyphen==0.9.5
pytz==2019.3
six==1.15.0
sqlparse==0.3.1
tinycss2==1.0.2
todolist==0.6.0
wcwidth==0.2.4
WeasyPrint==51
webencodings==0.5.1
