
code/.idea/

code/core/__pycache__/form.cpython-36.pyc

code/core/__pycache__/

code/core/migrations/

code/sgp/__pycache__/

code/venv/bin/

code/venv/lib/python3.6/site-packages/.libs_cffi_backend/

code/venv/lib/python3.6/site-packages/asgiref/__pycache__/

code/venv/lib/python3.6/site-packages/__pycache__/

code/venv/
