{% extends "_layouts/base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
<div class="container-fluid pag-prova">
     <form method="POST" enctype="multipart/form-data" action="{% url 'atualizar_prova' 1%}">{% csrf_token %}
           <div class="form-row">
               <div class="col">
                  Nome da prova: {{form.nome}}
               </div>
           </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    Observações: {{form.observacao}}
                </div>
                <div class="form-group col-md-4">
                    Cabeçalho:{{form.cabecalho}} <a href="/cadastro_cabecalho/">+</a>
                </div>
                <div class="form-group col-md-2">
                     Tipo: {{form.tipo}}
                </div>

                <div class="form-group col-md-2">
                    Disciplina: {{form.disciplina}}
                </div>
            </div>

            <div class="form-group">
                <form action="{% url 'atualizar_prova' 1 %}" method="GET">
                    <input type="text" name="busca" id="tags">
                    <input type="submit" value="Buscar">
                </form>
                <div class="custom-control custom-radio">
                   {{ form.questao }}
                </div>

            </div>


         <button type="submit">Salvar</button>
     </form>

    {% if questao %}
        <a href="{% url 'deletar_questao' questao.id %}">Deletar</a>
    {% endif %}

    <span id="texto"></span> <br><br>

    {% if prova %}
        <button><a href="{% url 'deletar_prova' prova.id %}">Deletar Prova</a></button>
        <button><a href="{% url 'gerar_prova' prova.id %}">Gerar prova</a></button>
    {% endif %}
{% endblock %}
</div>
{% block scripts %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function(){
      $("#tags").autocomplete({
        source: '{% url 'busca_questao' %}'
      });
    });
</script>

{% endblock %}
