{% extends "_layouts/base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
     <form method="POST" enctype="multipart/form-data">{% csrf_token %}

           Apelido: <br> {{form.apelido}} <br><br>
           Data: <br>{{form.data}} <br><br>
           Valor:  <br>{{form.valor}} <br><br>
           Observações: <br>{{form.observacao}} <br><br>
           Configurações:<br> {{form.configuracoes}} <a href="/cadastro_configs/">+</a> <br><br>
           Disciplina: {{form.disciplina}} <br><br>
           Questões <br> {{form.questao}} <br><br>

         <button type="submit">Salvar</button>
     </form>

    {% if questao %}
        <a href="{% url 'deletar_questao' questao.id %}">Deletar</a>
    {% endif %}

    {% if prova %}
        <a href="{% url 'deletar_prova' prova.id %}">Deletar Prova</a>
        <a href="{% url 'gerar_prova' prova.id %}">Gerar prova</a>
        <a href="{% url 'vizualiar_prova' prova.id %}">Vizualizar prova</a>
    {% endif %}
{% endblock %}

{% block scripts %}

<script>
function getInnerText() {
  alert(document.getElementById("questoes").innerText)
}

//Tentando pegar somente o texto da questão
alert(document.getElementById("questoes").querySelector("li").querySelector("label").textContent)
//alert(document.getElementById("questoes").textContent)



</script>


{% endblock %}
