{% extends "_layouts/base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
     <form method="POST">{% csrf_token %}
            {{ form.as_p }}
             <input type="submit" value="Cadastrar">
     </form>



    {% if questao %}
        <a href="{% url 'deletar_questao' questao.id %}">Deletar</a>
    {% endif %}

    {% if prova %}
        <a href="{% url 'deletar_prova' prova.id %}">Deletar Prova</a>
        <a href="{% url 'gerar_prova' prova%}">Gerar prova</a>
    {% endif %}
{% endblock %}