{% extends "_layouts/base.html" %}
{% load static %}
{% block conteudo %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
       Enunciado: {{ form.enunciado }}
        <br>
        Origem: {{form.origem}} <a href="/cadastrar-origem/">+</a>
        <br>

        {{form.professor}}
        <br>
        Assunto da questão: {{ form.categoria }} <a href="/cadastrar-assunto/">+</a> <br><br>

        {% if form.imagem.value.url != False %}
            <img style='width:200px' src='{{form.imagem.value.url}}' alt="">
        {% endif %}
        <br> <br>
        {{ form.imagem }}


        {{form_alternativa.management_form }}
        {% for fa in form_alternativa %}
        <div class="inlineform">
            <hr>
            Alternativa: <br>
            {{ fa.alternativa }} <br>
            {{fa.letra}}
            Está alternativa está correta ? {{ fa.correta }} <br>
            Imagem: {{fa.imagem}} <br> <br>
        </div>
        {% endfor %}


        <br> <br>
        <button type="submit">Salvar</button>
    </form>

{% endblock conteudo %}

{% block scripts %}

    <script type="text/javascript">


      $(function() {
          $('.inlineform_texto').formset({
              prefix: '{{form_texto.prefix}}',
              addText: ' + Adicionar Texto',
              deleteText: ' - Remover Texto',
          });
      })


      $(function() {
          $('.inlineform').formset({
              prefix: '{{form_alternativa.prefix}}',
              addText: ' + Adicionar Alternativa',
              deleteText: ' - Remover Alternativa',
          });
      })


     </script>

{% endblock %}
