{% extends "_layouts/base.html" %}
{% load static %}
{% block conteudo %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {{ form.enunciado }}
        {{form.professor}}
        <br>
        Assunto da questão: {{ form.assunto }} <a href="/cadastrar-assunto/">+</a> <br>
        {{ form.disciplina }}
        {{ form.imagem }}

        {{form_alternativa.management_form }}

        {% for fa in form_alternativa %}
        <div class="inlineform">
            <hr>
            {{ fa }}
        </div>
        {% endfor %}


        <button type="submit">Salvar</button>
    </form>

{% endblock %}

        {% block scripts %}

         <script type="text/javascript">

            $(function() {
                $('.inlineform').formset({
                    prefix: '{{ form_alternativa.prefix }}',
                    addText: 'Adicionar nova alternativa',
                    deleteText: 'Remover alternativa',
                });
            })
        </script>

        {% endblock %}
