{% extends "_layouts/base.html" %}
{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.path }}
        {{form.cpf}} <br> <br>
        {{form.nome}} <br> <br>
        {{form.email}} <br> <br>
        {{form.nascimento}} <br> <br>
        {{form.disciplina}}
        {{form.foto}}<br> <br>
        {{form.errors}}

        {% if form.foto.url %}
            <img style="width:200px" src="{{form.foto.value.url}}" alt=""> <br> <br>
        {% endif %}

        <a href="{% url 'alterar_senha' %}">Mudar senha</a>
        <input type="submit" value="Atualizar">

    </form>

    {% if professor %}
        <a href="{% url 'deletar_professor' professor.cpf %}">Deletar</a>
    {% endif %}
{% endblock %}