{% extends "_layouts/base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
     <form method="POST">{% csrf_token %}
           Data: {{ form.data }}
           Valor: {{ form.valor }} <br> <br>
           Observações: {{form.observacao}} <br> <br>
            {{form.imagem}}
            {{form.configuracoes}} <br> <br>
            {{form.questao | safe }} <br> <br>
             <input type="submit" value="Cadastrar">
     </form>

    {% if questao %}
        <a href="{% url 'deletar_questao' questao.id %}">Deletar</a>
    {% endif %}

    {% if prova %}
        <a href="{% url 'deletar_prova' prova.id %}">Deletar Prova</a>
        <a href="{% url 'gerar_prova' prova.id %}">Gerar prova</a>
        <a href="{% url 'vizualiar_prova' prova.id %}">Vizualizar prova</a>
    {% endif %}
{% endblock %}