{% extends "_layouts/base.html" %}

}
{% block conteudo %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}

        <img src="{{ form.imagem.url }}">
        {{form_alternativa.management_form }}

        {% for fa in form_alternativa %}
        <div class="inlineform">
            <hr>
            {{ fa }}
        </div>
        {% endfor %}


        <input type="submit" value="Salvar">
    </form>

{% endblock %}

        {% block scripts %}

         <script type="text/javascript">

            $(function() {
                $('.inlineform').formset({
                    prefix: '{{ form_alternativa.prefix }}',
                    addText: 'Adicionar nova alternativa',
                    deleteText: 'Remover alternativa',
                });
            })
        </script>

        {% endblock %}


