{% extends "_layouts/base.html" %}
{% load static %}
{% block title %}Questões{% endblock %}

{% block conteudo %}
        <div class="container-fluid pag-lista">

            <p class="texto-titulo">Vizualize edite ou remova uma questão.</p>
            <div class="container-fluid sub-menu">
                <div class="row">
                    <div class="col-sm" id="barra-busca">
                         <form action="" method="GET" class="form-inline">
                                <div class="input-group" id="campo-busca">
                                    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" name="busca" id="tags" style="border-right: none;">
                                    <div class="input-group-append">
                                        <div class="input-group-text" style="background-color: #FFF"><label for="enviar"><i class="fas fa-search"></i></label></div>
                                        <input type="submit" value="Buscar" id="enviar">
                                </div>
                            </div>
                         </form>
                    </div>
                     <div class="col-sm">
                         Filtros...
                     </div>
                    <div class="col-sm">
                        <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Adicionar questão
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item btn btn-outline-info" href="#">Objetiva</a>
                            <a class="dropdown-item btn-outline-info" href="/cadastro-questao/">Discursiva</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


            <div id="resultado">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Qnt. Alternativas</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                {% for questao in questoes %}
                    <tr>
                        <td><a href="{% url 'atualizar_questao' questao.id %}">{{questao.nome}}</a></td>
                        <td>Discursiva</td>
                        <td>4</td>
                        <td><i class="far fa-trash-alt"></i> <a href="{% url 'atualizar_questao' questao.id %}"><i class="far fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>

                </table>


        </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function(){

      $("#tags").autocomplete({
        source: '{% url 'busca_questao' %}'
      });
    });
</script>



{% endblock %}
